<div class="container">
  <div id="title">
    <h1>The Tool Box: Rent and Return</h1>
  </div>
   <div class="row">
    <% @tools.each do |tool| %>
      <div class="large-4 small-12 columns">
        <div class='tool_box'>
         <h3> 
          <%= tool.name %>:</h3>
          <%= tool.description %>
         <p>
          <br>
          <% availability(tool.id, current_user.id) %>
          <%= @response %>
          <br>
        <div class='available'>
        <% if current_user %>
          <% if tool.status == 'available' || (tool.status == 'on hold' && tool.user_id == current_user.id) %> 
            <%= link_to "Rent It", rent_path(tool.id), method: 'patch' %>
          <% elsif tool.user_id == current_user.id %>
              <%= link_to "Return It", return_path(tool.id), method: 'patch' %>
          <% elsif (tool.users.where(id: current_user.id).count == 1) %>
               You are currently #<%= Waitlist.place_in_waitlist(current_user.id, tool.id) %> in the queue! We'll shoot you an email when you're number one. 
          <% elsif tool.user_id != current_user.id %> 
              
                <%= form_for @waitlist do |f| %>
                <%= f.hidden_field :tool_id, value: tool.id %>
                <%= f.hidden_field :user_id, value: current_user.id %>
                <%= f.submit 'Add Your Name to the Waitlist.' %>
                <% end %>
          <% end %>
        <% else %>
          <%= link_to "Sign in to rent a tool", '/auth/twitter' %>
        <% end %>
      </div>
    </div>
  </div>
    <% end  %>
  </div>

