<div class="container">
  <div id="title">
    <h1>The Tool Box: Rent and Return</h1>
  </div>
   <div class="row">
    <% @tools.each do |tool| %>
      <div class="large-4 small-12 columns">
        <div class='tool_box'>
         <h3> 
          <%= tool.name %>:</h3>
          <%= tool.description %>
         <p>
          <br>
          <% availability(tool.id, current_user.id) %>
          <%= @response %>
          <br>
        <div class='available'>
        <% if current_user %>
          <% if @availability == 'queue' %>
            You are currently #<%= Waitlist.place_in_waitlist(current_user.id, tool.id) %> in the queue! We'll shoot you an email when you're number one. 
          <% else %>
            <%= link_to @status, tool_status_path(@action, tool.id) %>
          <% end %>
        <% else %>
          <%= link_to "Sign in to rent a tool", '/auth/twitter' %>
        <% end %>
      </div>
    </div>
  </div>
    <% end  %>
  </div>

