  <%= form_for current_user  do |f| %>
    <div class='small-10 columns'>
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
    <div class='small-10 columns'>
      <%= f.label :phone %>
      <%= f.text_field :phone %>
    </div>
    <%= f.submit %> 
    # add id:'ajax-submit', class: "close-reveal-modal", remote:true back in to get ajax to work when you figure that out
  <% end %>