  <%= form_for current_user  do |f| %>
    <div class='small-10 columns'>
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
    <div class='small-10 columns'>
      <%= f.label :phone %>
      <%= f.text_field :phone %>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <%= f.submit class: "ajax_submit" %><br><br><br>
    <div class="close-reveal-modal">Cancel</div>
  <% end %>