  <div class="row">
    <div class="large-12 columns">
 
    <!-- Content Slider -->
 
      <div class="row">
        <div class="large-12 hide-for-small quote">
            <p><strong>Garden Quote of the Day: </strong><%= @quote %></p>
            <hr>
        </div>
      <div class="row">
        <div class="large-12 hide-for-small">
          <div id="featured" data-orbit>
              <%= image_tag("gardens.png") %>
              <%= image_tag('weirdcar.jpg') %>
              <%= image_tag('veggies.jpg') %>
            </div>
 
      </div>
    </div>
 
    <!-- End Content Slider -->
 
    <!-- Mobile Header -->
 
      <div class="row">
        <div class="large-12 columns show-for-small">
 
           <%= image_tag("gardens.png") %>
 
        </div>
      </div><br>
 
    <!-- End Mobile Header -->

 
 
      <div class="row">
        <div class="large-13 columns">
          <div class="row">
            <!-- Events -->
            <div class="large-4 small-6 columns">
 
              <h4>Events This Week</h4><hr>
                <% @events.each do |event| %>
              <div class="row">
 
                <div class="large-9 columns">
                  <h5 class="subheader"><%= link_to event.name, event_show_path(event.id) %> </h5>
                  <p><%= event.date.strftime('%A, %b %d') %>, at <%= event.time.strftime('%H:%M %p') %></p>
                  <p>Hosted by: <%= User.find(event.host_id).name %><p>
                </div>
              </div>
              <hr>
                <% end %>
                <div class="row">
                </div>
                <div class="row">
                </div>
                <div class="row">
                </div>
              </div>
            <!-- End Shows -->
 
 
            <!-- Image -->
            
            <div class="large-4 small-6 columns">
              <h4>Weather Today</h4><hr>
              <ul>
                <li><%= @weather_report.icon %></li>
                <li>Temperature: <%= @weather_report.temperature.round %> &deg; F </li>
                <li>Feels Like: <%= @weather_report.apparentTemperature.round %> &deg; F</li>
                <% if @weather_report.precipType %>
                <li>Chance of <%= @weather_report.precipType %> : <%= @weather_report.precipProbability%></li>
                <% end %>

              </ul>

            </div>
 
            <!-- End Image -->
 
 
            <!-- Feed -->
 
            <div class="large-4 small-12 columns">
 
              <h4>Blog</h4><hr>
              <div class="panel">
                <% @posts.order('created_at DESC').limit(3).each do |post| %>
                <h5><%= link_to post.title, post_path(post.id) %></h5>
                <h6 class="subheader"> <%= post.content.try(:truncate, 100) %></h6>
              </div>
              <% end %>
            
              <div class="right">
                <%= link_to "Go To Blog", all_posts_path%>
              </div>
            </div>
 
            <!-- End Feed -->
 
          </div>
        </div>
      </div>
 
    <!-- End Content -->
 
 
    <!-- Footer -->
 
      <footer class="row">
        <div class="large-12 columns"><hr>
            <div class="row">
 
              <div class="large-6 columns">
                  <%#= @quote %>
              </div>
 
              <div class="large-6 small-12 columns">
                  <ul class="inline-list right">
                    <li><%= link_to 'Am I Going To Die?', 'http://amigoingtodie.org' %></li>
                  </ul>
              </div>
 
            </div>
        </div>
      </footer>
 
    <!-- End Footer -->
 
    </div>
  </div>
 
  <script>
  document.write('<script src=js/vendor/' +
  ('__proto__' in {} ? 'zepto' : 'jquery') +
  '.js><\/script>')
  </script>
  <script src="js/foundation.min.js"></script>
  <script>
    $(document).foundation();
  </script>
<!-- End Footer -->
    