<div class="row">
  <div class='small-12 columns'>
    <div id='events'>
      <h2 id='month'>
      <%= link_to "<", date: @date.prev_month %>
      <%= @date.strftime("%B %Y") %>
      <%= link_to ">", date: @date.next_month %>
      <% if current_user %>
  <%= link_to 'Add An Event!', new_event_path, "data-reveal-id" => "eventModal"  %>
<!--   <#%= link_to 'Add an event!', new_event_path %>
 -->  <% end %>
    </h2>
      <%= calendar @date do |date| %>
        <%= date.day %>
        <% if @events_by_date[date] %>
          <ul>
            <% @events_by_date[date].each do | event | %>
            <li>
              <%= link_to event.name, "#inline_#{event.id}", class: 'inline' %> <br>
              <div class='hidden'>
                <div id='inline_<%= event.id %>', style='background: #fff; padding: 20px;'>
                  <h2>Event: <%= event.name %></h2>
                  <p> <%= event.date.strftime('%A, %b %d') %>, at <%= event.time.strftime('%H:%M %p') %></p>
                  <p><%= event.description %></p>
                  Weather forecast:
                  <% if event.temperature == nil %>
                    We don't know the forecasted weather yet! We're gardeners, not sages. (Although try our sage! It's delish.)<br>
                  <% else %>
                  <%= event.temperature %> &deg; <br>
                  Conditions: <%= event.conditions %><br><br>
                  <% end %>
                  Attendees:
                  <% event.users.each do |attendee| %>
                     <ul>
                      <li><%= image_tag(attendee.avatar) %> </li>
                    </ul>
              
                  <% end %>
                  <% if current_user && current_user.events.exclude?(event) %>
                    <%= link_to 'RSVP to this event!', rsvp_path(event.id) %><br>
                  <% end %>
                  <% if current_user && event.host_id == current_user.id %>
                    <%= link_to 'Update this event!', edit_path(event.id) %>
                  <% end %>
                </div>
              </div>
            </li>
            <% end %>
          </ul>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

   <div id="eventModal" class="reveal-modal" data-reveal>
        <%= render 'form' %>
      </div>