<%= form_for [@post, @comment] do |f| %>

<div class='small-10 columns'>
  <%= f.label :comment %>
  <%= f.text_area :comment %>
</div>
  <%= f.hidden_field :post_id, value: @post.id %>
  <%= f.submit class: 'button' %>
<% end %>
