<%= form_for(current_user, id: 'profile')  do |f| %>
    <div class='small-10 columns'>
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
    <div class='small-10 columns'>
      <%= f.label :phone %>
      <%= f.text_field :phone %>
    </div>
    <%= f.button type: 'button', id: 'profile_submit' %>
    <br><br><br>
    <% end %>