<!DOCTYPE html>
<html>
<head>
  <title>PeasAndQueues</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
   <!-- Navigation -->
 
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1>
        <%= link_to "Peas 'n' Queues", root_path %>
          </a>
        </h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
    </ul>
 
    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
          <% if current_user %>
          <li><%= link_to 'Sign Out', '/signout' %></li>
          <li><%= link_to current_user.try(:name), profile_path(current_user.id), "data-reveal-id" => "myModal"  %></li>
          <% else %>
          <li><%= link_to 'Sign In With Twitter', '/auth/twitter' %></li>
          <% end %>
        <li class="divider"></li>
        <li class="has-dropdown">
          <a href="#">Garden Resources</a>
          <ul class="dropdown">
            <li><label>Community</label></li>
            <li><%= link_to 'Tool Box', all_tools_path %></li>
                <li><%= link_to 'Calendar', events_path %></li>
            <li class="divider"></li>
            <li><label>Blog</label></li>
            <li><%= link_to 'Things To Mulch Upon', all_posts_path %></li>
          </ul>
        </li>
      </ul>
    </section>
  </nav>


 
  <!-- End Top Bar -->
<%= flash[:notice] %>

<%= yield %>
  <% if current_user %>
    <div id="myModal" class="reveal-modal" data-reveal>
        <%= render 'layouts/profile' %>
  <% end %>
    </div>

  </div>
</body>
</html>
