<!DOCTYPE html>
<html>
<head>
  <title>PeasAndQueues</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
   <!-- Navigation -->
 
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1>
        <%= link_to "Peas 'n' Queues", root_path %>
          </a>
        </h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
    </ul>
 
    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
          <li><%= link_to 'Sign In With Twitter', '/auth/twitter' %></li>
        <li class="divider"></li>
        <li class="has-dropdown">
          <a href="#">Garden Resources</a>
          <ul class="dropdown">
            <li><label>Community</label></li>
            <li><a href="#">Tool Lending Library</a></li>
                <li><%= link_to 'Calendar', events_path %></li>
            <li class="divider"></li>
            <li><label>News</label></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Weather</a></li>
          </ul>
        </li>
      </ul>
    </section>
  </nav>
 
  <!-- End Top Bar -->

<%= yield %>

</body>
</html>
